li {
    list-style: none;
    font-size: 5em;
    text-align: center;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    flex-grow: 3;
    order: 3;
}

button {
    margin: 1px;
}